# Compiled Python bytecode
*.pyc

# Vim swapfiles
*.swp

# default-auth file
default-auth.json

# Configuration file
config.py
# Removes files needed for or created from testing framework
botium.json
/botiumwork

# Travis CI
client-secret.json
credentials.tar.gz
login.sh