{% extends "layout.html" %}
{% block body %}
    <div class="box">
        {% if authenticated %}
            Currently logged in as <strong>{{authenticated.auth.username}}</strong>
            <form action="{{ url_for('logout')}}">
                <button class="button is-block is-info is-fullwidth" type="submit">Logout</button>
            </form>
        {% else %}
        <form method="post">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="username" placeholder="Username" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input" type="password" name="password" placeholder="Password">
                </div>
            </div>
            <button class="button is-block is-info is-fullwidth" type="submit">Login</button>
        </form>
        {% endif %}
    </div>
{% endblock %}