<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>SteelConnect Google Dialogflow - Authentication</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma.css') }}">
</head>

<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-grey">SteelConnectLogin</h3>
                    <div class="box">
                        <form method="post">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="username" placeholder="Username" autofocus="">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" name="password" placeholder="Password">
                                </div>
                            </div>
                            <div class="field">
                            </div>
                            <button class="button is-block is-info is-large is-fullwidth" type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>