{% extends "layout.html" %}
{% block body %}
    <div class="box">
        <form method="post">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="username" placeholder="Username" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input" type="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input" type="password" name="new_password" placeholder="New password">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input" type="password" name="new_password_confirm" placeholder="New password confirm">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth" type="submit">Change</button>
        </form>
    </div>
{% endblock %}